html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: url('/static/images/bkg.jpg');
    background-size: cover;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.login-box {
    width: 400px;
    background-color: whitesmoke;
    opacity: 0.8;
    border-radius: 10px;
}

.layui-form {
    margin: 30px;
}

.login-btn {
    float: right;
}

.login-title{
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
} 

.copyright-statement {
    color: darkgray;
    text-align: center;
} 

hr {
    height: 1px;
    background-color: #009688;
    border: none;
} 